<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>DeCartography</title>
</head>

<body>
    <h1>DeCartography</h1>
    <p class="description">
        DeCartography is a service that gives you ETH when you look at a wallet transaction and subjectively enter the
        attributes (tags) that seem applicable.
        <br>
        Let's get to work!
    </p>
    <table>
        <tr>
            <th>ID</th>
            <th>Address</th>
            <th>Tag</th>
        </tr>
        <% for(var i in content){ %>
            <tr>
                <% var obj=content[i]; %>
                    <td>
                        <%= obj.id %>
                    </td>
                    <td>
                        <%= obj.address %>
                    </td>
                    <td>
                        <%= obj.tag %>
                    </td>
            </tr>
            <% } %>
    </table>
    <p>
        <a href="/work" class="button">work</a>
    </p>
</body>

</html>